* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #111;
}


/* NAVBAR */

.navbar {
    height: 75px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 45px;

    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4px;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu a {
    text-decoration: none;
    color: #222;

    font-size: 13px;
    letter-spacing: 2px;

    transition: 0.3s;
}

.menu a:hover {
    color: #777;
}

.icons {
    font-size: 22px;
}


/* HERO */

/* =========================
   HERO SECTION
========================= */

.hero {
    position: relative;

    height: 600px;

    background:
        url("images/Allan walker.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: white;

    overflow: hidden;
}


/* DARK OVERLAY */

.hero::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.70);
}


/* HERO TEXT */

.hero-text {
    position: relative;

    z-index: 2;

    max-width: 850px;

    padding: 20px;
}


/* SMALL TITLE */

.hero-small {
    letter-spacing: 5px;

    font-size: 14px;

    margin-bottom: 15px;

    color: #ffffff;
}


/* LIFEWEAR TITLE */

.hero-text h1 {
    font-size: 90px;

    line-height: 1;

    letter-spacing: 5px;

    margin-bottom: 20px;

    font-weight: 800;
}


/* PINK WEAR */

.hero-text h1 span {
    color: #ff167f;
}


/* TAGLINE */

.hero-tagline {
    font-size: 27px;

    margin-bottom: 10px;

    font-weight: 500;
}


/* DESCRIPTION */

.hero-description {
    font-size: 16px;

    color: #dddddd;

    margin-bottom: 30px;
}


/* SHOP BUTTON */

.hero-text button {
    padding: 15px 40px;

    background: #ff167f;

    color: white;

    border: none;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


.hero-text button:hover {
    background: white;

    color: #ff167f;
}

/* SHOP */

.shop {
    padding: 80px 50px;
    text-align: center;
}

.small-title {
    font-size: 12px;
    letter-spacing: 4px;
    color: #777;
}

.shop h2 {
    font-size: 38px;
    margin: 15px 0 50px;
}


/* PRODUCTS */

.products {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

    max-width: 1400px;

    margin: auto;
}

.product {
    background: white;

    transition: 0.3s;

    overflow: hidden;
}

.product:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 35px rgba(0,0,0,0.12);
}


/* IMAGE */

.product-image {
    width: 100%;
    height: 330px;

    background: #e5e5e5;

    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.5s;
}

.product:hover img {
    transform: scale(1.05);
}


/* PRODUCT INFO */

.product-info {
    padding: 25px;
    text-align: left;
}

.product-info h3 {
    font-size: 16px;

    margin-bottom: 10px;
}

.product-info p {
    color: #777;

    margin-bottom: 20px;
}

.product-info button {
    width: 100%;

    padding: 13px;

    background: black;
    color: white;

    border: none;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;
}

.product-info button:hover {
    background: #a11212;
}


/* ABOUT */

.about {
    background: white;

    padding: 100px 20px;

    text-align: center;
}

.about > p:first-child {
    letter-spacing: 4px;
    font-size: 12px;
    color: #777;
}

.about h2 {
    font-size: 40px;
    margin: 20px 0;
}

.about p:last-child {
    max-width: 600px;
    margin: auto;
    color: #666;
    line-height: 1.7;
}


/* FOOTER */

footer {
    background: #111;
    color: white;

    text-align: center;

    padding: 60px 20px;
}

footer h2 {
    letter-spacing: 5px;
    margin-bottom: 15px;
}

footer p {
    color: #aaa;
    margin: 10px;
}

footer {
    background: #fff;
    color: #555;
    text-align: center;
    padding: 50px 20px 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 70px;
}

.social-icons a {
    color: #666;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #111;
    transform: translateY(-3px);
}

footer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 35px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 270px;
    margin: auto;
    text-align: left;
}

.footer-links a {
    color: #555;
    text-decoration: none;
    font-size: 18px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 40px;
    color: #999;
    font-size: 14px;
}
/* POPUP */

.popup {
    display: none;

    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.75);

    z-index: 2000;

    justify-content: center;
    align-items: center;
}

.popup-box {
    width: 420px;

    background: white;

    padding: 40px;

    position: relative;

    box-shadow:
        0 20px 60px rgba(0,0,0,0.4);
}

.popup-box h2 {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#selectedProduct {
    color: #777;
    margin-bottom: 25px;
}

.close {
    position: absolute;

    right: 20px;
    top: 15px;

    font-size: 30px;

    cursor: pointer;
}

.popup-box input,
.popup-box select,
.popup-box textarea {
    width: 100%;

    padding: 13px;

    margin-bottom: 12px;

    border: 1px solid #ccc;

    font-size: 14px;
}

.popup-box textarea {
    height: 90px;
    resize: none;
}

.popup-box button {
    width: 100%;

    padding: 14px;

    background: black;
    color: white;

    border: none;

    cursor: pointer;

    font-weight: bold;
}


/* MOBILE */

@media (max-width: 900px) {

    .products {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .menu {
        gap: 15px;
    }

    .hero-text h1 {
        font-size: 45px;
    }
}


@media (max-width: 600px) {

    .navbar {
        padding: 0 15px;
    }

    .menu {
        display: none;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .shop {
        padding: 60px 20px;
    }

    .hero {
        height: 450px;
    }

    .hero-text h1 {
        font-size: 38px;
    }

    .popup-box {
        width: 90%;
        padding: 25px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 300px;
    height: auto;
    display: block;
}
/* ===== PREMIUM NAVBAR ===== */

/* ===== PREMIUM NAVBAR ===== */

.navbar {
    position: fixed;
    top: 12px;
    left: 2%;
    right: 2%;

    height: 82px;

    background: #ffffff;

    display: flex;
    align-items: center;

    padding: 0 35px;

    border-radius: 50px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

    z-index: 1000;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;

    margin-right: 55px;
}

.logo img {
    width: 175px;
    height: auto;
    display: block;
}


/* MENU */

.menu {
    display: flex;
    align-items: center;

    gap: 42px;

    flex: 1;
}

.menu a {
    text-decoration: none;

    color: #44415c;

    font-size: 18px;

    font-weight: 600;

    transition: 0.3s;
}

.menu a:hover {
    color: #e7dddd;
}


/* RIGHT SIDE */

.nav-right {
    display: flex;
    align-items: center;

    gap: 40px;
}


/* SEARCH */

.search {
    display: flex;
    align-items: center;

    gap: 15px;

    color: #44415c;

    font-size: 18px;

    font-weight: 600;
}

.search i {
    font-size: 26px;
}


/* LANGUAGE */

.language {
    display: flex;
    align-items: center;

    background: #dddff0;

    border-radius: 35px;

    padding: 4px;
}

.language span {
    padding: 15px 24px;

    border-radius: 30px;

    font-size: 16px;

    font-weight: 600;

    color: #44415c;
}

.language .active {
    background: #0b0100;

    color: white;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;

    justify-content: center;
    align-items: center;
}

.popup-box {
    width: 420px;
    max-width: 90%;

    background: white;
    padding: 40px;

    position: relative;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}
.popup {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.75);

    z-index: 99999;

    justify-content: center;
    align-items: center;
}

.popup-box {
    width: 420px;
    max-width: 90%;

    background: white;

    padding: 40px;

    position: relative;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.popup-box input,
.popup-box select,
.popup-box textarea {
    width: 100%;
    padding: 13px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
}

.popup-box button {
    width: 100%;
    padding: 14px;

    background: black;
    color: white;

    border: none;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;

    font-size: 30px;
    cursor: pointer;
}
